extends ../index

block css
    link(rel="stylesheet", href="/styles/markdown.css")
    link(rel="stylesheet", href="https://cdn.bootcss.com/highlight.js/9.9.0/styles/atom-one-dark.min.css")

block main
    section.wrap
        //- header.nav
        //-     .site-name
        //-         img.site-logo(src="/img/logo.png", alt="")
        //-         if user
        //-             span #{user.name}の
        //-         span 小屋
        //-     .site-menu

        section.container
            .head-title
                .title-text= title
                .head-border
            if user && user.name == author
                .article-option
                    a(href="/edit/"+ article_id) 编辑
                    a(href="/del/"+ article_id) 删除
            .markdown-body.main-content
                div !{content}

            .foot-info
                .author= author
                .date= update_time
        footer.footer
            .footer-left
                .copyright ©2018 小屋
                .txt-help 态度决定一切！
block script
    script(src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js")
    script.
        hljs.initHighlightingOnLoad();
