<%- include common/header %>
<%- include common/nav %>

<article class="container main">
<% if (list.length > 0) { %>
    <% for (var i = 0; i < list.length; i++){ %>
        <div class="card-list" data-item-id="<%= list[i].id %>">
             <div class="content item-title">
                 <%= list[i].title %>
             </div>
			 <div class="item-header m-top-xs">
                 <span><%= list[i].author  %></span>
                 <small class="item-date">  <%= list[i].update_time %></small>
             </div>
            <% if (list[i].tags) { %>
                <div>
                    <% var tags = list[i].tags.split(",") %>
                    <% for (var j = 0; j < tags.length; j ++) { %>
                        <span class="tags"><%= tags[j] %></span>
                    <% } %>
                </div>
            <% } %>
        </div>
    <% } %>
<% }else { %>
    <div class="txt-center">还木有文章噢～～～</div>
<% } %>
</article>

<%- include common/footer %>