<%- include header %>

<article class="container main">
<% if (list.length > 0) { %>
    <% for (var i = 0; i < list.length; i++){ %>
        <div class="card-list" data-item-id="<%= list[i]._id %>">
             <div class="content item-title">
                 <%= list[i].title %>
             </div>
			 <div class="item-header m-top-xs">
                 <span><%= list[i].author  %></span>
                 <small class="item-date">  <%= list[i].update_time %></small>
             </div>
        </div>
    <% } %>
<% }else { %>
    <div class="txt-center">还木有文章噢～～～</div>
<% } %>
</article>

<%- include footer %>
