<%- include ../header %>

<div class="">
    <%- content %>
</div>

<p>
  <% if(user) {%>
    <a href="/edit/<%= article_id %>">编辑</a>
    <a href="/del/<%= article_id %>">删除</a>
  <% } %>
</p>
<%- include ../footer %>
